*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: rgb(250, 230, 255);
}
.login{
    box-shadow: 0px 5px 10px 0px #121212;
    background-color: #fff;
    border-radius:5px;
    padding-bottom: 40px;
    width:30em;
    height: auto;
    text-align: center;
}
.input{
    margin-top:40px;
}
.login p{
    color:rgb(245, 31, 31);
}
.input>input{
    padding-left: 10px;
    width: 75%;
    height: 2.7rem;
    margin-top:20px;
}
.h1{
    border-radius:5px;
    background-color: #98189a;
    padding:1em 0;
    color: #fff;
}
button{
    cursor: pointer;
    background: linear-gradient(90deg,#293b90,#98189a);
    color: #fff;
    padding: 8px 80px;
    border-radius:20px;
    margin-top: 20px;
}